<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>시설 띄우기</title>
</head>

<body>
  <h1>지도-시설 연결</h1>
  <div id="map" style="width: 100%; height: 500px;"></div>

  <!-- <div id="infoWindow" style="display: none;">
    <h2 id="facilityName"></h2>
    <p id="facilityAddress"></p>
  </div> -->

  <script type="text/javascript"
    src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=2lhimp3vcd&submodules=geocoder"></script>
  <script>
    const mapOptions = {
      center: new naver.maps.LatLng(37.580541, 126.922365),
      zoom: 10,
      mapTypeControl: true,
      zoomControl: true,
      scaleControl: true,
      mapDataControl: true,
    };

    const map = new naver.maps.Map('map', mapOptions);

    const infoWindow = new naver.maps.InfoWindow();

    fetch('/map/facility_address/')
      .then(response => response.json())
      .then(data => {
        data.forEach(facility => {
          const address = facility.address;
          naver.maps.Service.geocode({
            query: address
          }, function (status, response) {
            if (status === naver.maps.Service.Status.ERROR) {
              console.log('주소 검색 실패: ' + response.message);
              return;
            }
            if (response.v2.meta.totalCount === 0) {
              console.log('검색 결과가 없습니다.');
              return;
            }

            const result = response.v2.addresses[0];
            const point = new naver.maps.Point(result.x, result.y);
            const marker = new naver.maps.Marker({
              position: point,
              map: map,
            });

            // 마커 클릭 시 정보창에 시설 이름과 주소 표시
            naver.maps.Event.addListener(marker, "click", function () {
              infoWindow.setContent(`
                <div class="info-window">
                  <h2>${facility.name}</h2>
                  <p>${facility.address}</p>
                  <a href="/map/facility/${facility.id}">상세 정보 보기</a>
                </div>
              `);
              infoWindow.open(map, marker);
            });
          });
        });
      })
      .catch(error => {
        console.error('시설 목록 가져오기 실패:', error);
      });
  </script>
</body>

</html>